/* Position ABSOLUTE y FIXED
    Fixed --> Fijar el nav en la posición que definamos
    Absoluted --> Posicionar el h1 del contenedor derecho en medio del contenedor aún estando como primer elemento en el html */

body{
    margin: 0;
    margin-top: 45px;
    width: 1260px;
    border: solid 1px #000;
    /* background-color: red; */
}

/*LAYOUT*/

main{
    margin-top: 100px; /*Para que su contenido no sea tapado con el nav al inicio*/
    background-color: yellow;
    display: flow-root; 
    margin-left:20px;
    margin-right:20px;
}

/*--------ELEMENTOS DEL LAYOUT---------*/

nav{
    background-color: rgb(246, 126, 224);
    width: 1260px; /*Anchura total del body*/
    height: 90px;
    position: fixed; /*Para que no 'lo perdamos de vista', aunque hagamos scroll siempre seguirá en la misma posición*/
        top: 45px; /*Margin que tiene dado el body frente al main ya que al poner position fixed, lo situamos con respecto al body*/
    border: solid 1px #000;
}

#div-left{
    background-color:rgb(151, 216, 82);
    width: 780px; /*800px - 20px(10px+10px)padding*/
    height: 370px; /*400px - 30px padding*/
    padding: 30px 10px 0 10px;
    float: left; /*Para poder alinear los contenedores [elmt bloque] en la misma 'línea'*/
}

#div-right{
    width: 340px; /*400px - 60px(30px+30px)padding*/
    padding: 0 30px;
    background-color:rgb(205, 101, 101);
    margin-left:20px;
    float: left; /*Para poder alinear los contenedores [elmt bloque] en la misma 'línea'*/
}

footer{
    clear: both; /*Limpiar float anterior*/
    height: 100px;
    background-color: rgb(110, 114, 252);
    width: 1260px;
    border-top: solid 1px #000;
}

/*-------ELEMENTOS DE LA CAJA IZQUIERDA--------*/

p{
    text-align: justify;
}

form{
    margin-top: 4em;
    border: solid 1px #000;
    padding:1em 1em 0 70px;
}

input{
    display: block;
}

input[type="text"]{
    width: 490px;/*500px - 10px padding*/
    padding-left:10px;
}

input[type="submit"]{
    width: 150px;
    height: 2em; /*Doble del tamaño base de la letra*/
    background-color: #D8D8D8;
}

/*------ELEMENTOS DE LA CAJA DERECHA-------*/

h1{
    position: absolute;/*Para que el texto se sitúe en la parte central de la caja aún estando puesto como primer elemento*/
    bottom: 27px;
    left: 940px;
    text-transform: uppercase;
}

img{
    width: 100%;
    margin-bottom: 10%;
}
