*{
    padding: 0;
    margin: 0;
}

#index{
    background-image: url("./img/FormatoVertical/FondoVert1.jpeg");
}

body{
    background-repeat: no-repeat;
    background-size: cover;
}

span{
    font-weight: bolder;
}

header{
    border: solid black 1px;
    height: 10vh;
    width: 98vw;
    margin: 1.5vh;
    border-radius: 18px;
    background-color:#ffffff60;
}

#logo{
    height: 9vh;
    margin: 0.5vh 1vw 0.5vh 2vw ;
    border-radius: 40px;
}

nav{
    text-align: right;
    width: 85vw;
    height: 10vh;
    float: right;
    /* border: solid blue 1px; */
}

nav a{
    text-decoration: none;
    text-align: center;
    font-size: 2vh;
    color: #000;
    padding: 1vh;
    background-color: #fff;
    display: block;
    float: right;
    width: 18vw;
    height: 2.5vh;
    margin: 2.5vh 4vw;
    border-radius: 10px;
    /* border: solid red 1px; */
}

#introducionInicial{
    text-align: right;
    margin: 0 auto;
    margin-top: 8vh;
    width: 90vw;
    border: #000 solid 1px;
    border-radius: 30px;
    background-color: #ffffff71;
    /* background-color: #ffffff60; */
}

#introducionInicial > h3{
    font-size: 4vh;
    margin: 3.8vh 10vw 0 0;
}

#introducionInicial > img{
    width: 15vw;
    border-radius: 30px;
    margin: -5vh 2.8vw 3vh 0;
}

#introducionInicial > p{
    width: 65vw;
    font-size: 2.8vh;
    margin: 6vh 10vh 0 0;
    float: right;
    text-align: justify;
}

#tablaEstadisticas{
    border: solid 1px black;
    border-collapse: collapse;
    text-align: center;
    width: 90vw;
    margin: 0 auto;
    margin-top: 8vh;
}

th,td{
    height: 8vh;
    border: solid black 1px;
    font-size: 1.6vw;
}

th{
    background-color: #ffffff71;
    font-size: 1.5vw;
}

.firstElementRow{
    font-size: 1.2vw;
    font-weight: bolder;
    background-color: #ffffff71;
    text-decoration: underline;
}

/* SELECCION COLUMAS PAR E IMPAR */
tbody td:nth-child(even) {
    background-color: #ffffff71;
}

tbody td:nth-child(odd) {
    background-color: #0e447bb5;
    color: #fff;
}

/* PÃGINA 2 - CONOCE MÃS */

#conocemas{
    background-image: url("./img/FormatoVertical/FondoVert2.jpeg");
}

article{
    border: solid #fff 1px;
    width: 90vw;
    margin: 0 auto;
    margin-top: 4vh;
}  

section{
    background-color: #ffffff71;
    border-radius: 25px;
    border: solid green 1px;
}

section > img{
    border-radius: 15px;
    width: 20vw;
    margin: -2vh 2vw 4vh 2vw;
    /* border: #fff solid 1px; */
}

/* SECTION IMG IZQUIERDA */

.sectionImgLeft > h3{
    text-transform:uppercase;
    font-size: 1.3vw;
    margin: 3vh 11vw 0 0;
    text-align: right;
    /* border: #fff solid 1px; */
}

.sectionImgLeft > p{
    width: 60vw;
    margin: 4vh 4vw 0 0;
    text-align: justify;
    float: right;
    /* border: #fff solid 1px; */
}

/* SECTION IMG DERECHA */
.sectionImgRight > img{
    float: left;
}