*{
    margin: 0;
    padding: 0;
    font-size: 1.2vw;
}

/*  NAV  */

header{
    width: 100%;
    height: 15vh;
    border-bottom: 1px solid black;
}

header div{
    width: 20%;
    float: left;
    height: 100%;
    margin: auto;
}

header img{
    display: block;
    height: 100%;
    margin: auto;
}

nav{
    width: 80%;
    height: 100%;
    float: right;
    background-color: #006293;
    color: white;
}

nav a, nav p{
    color:#fff;
    text-decoration: none;
    float: left;
    margin: 6vh 10vw;
}

nav p{
    position: relative;
}

nav div{
    display: none;
    position: absolute;
    top: 6vh;
    left: 9vw;
    position: relative;
}

nav div a{
    padding: 0 1vw;
}

nav p:hover{
    opacity: 0;
}

nav p:hover div{
    display:block;
}

main{
    height: 200px;
}

nav div a {
    margin: 0;
}


/*  FOOTER  */
footer{
    width: 95.89%;
    background-color: #006293;
    color: white;
    clear: both;
    overflow: hidden;
    padding: 2%;
    border: 1px solid black;
    position: absolute;
        bottom: 0;
}

footer p, footer div{
    width: 30%;
    float: left;
    margin: 0 1.5%;
}

footer span{
    font-weight: bold;
    font-size: 1.5vw;
}

#p-contactar{
    margin-left: 8%;
    border-right: 1px solid white;
    padding: 0.5% 0;
}

#p-colaboradores{
    border-right: 1px solid white;
}

#p-colaboradores ul{
    list-style-type: none;
}

#p-politicas{
    margin-top: 2%;
    width: 20%;
}

#p-politicas a{
    color: #fff;
    text-decoration: none;
    display: block;
    margin-top: 2%;
}