/*ELEMENTOS*/
div{
    display: flex;
    border: black 1px solid;
    margin: 2%;
}

div a{
    display: block;
    padding: 0.5% 1%;
    /* width: 300px; */
    text-decoration: none;
    color: #fff;
    background-color: rgba(42, 65, 216, 0.872);
    border-radius: 10px;
    margin: 1%;
}

/*ESTILOS #div-one*/
#div-one a{
    flex-grow: 1;
    flex-shrink: 1;
}

/*ESTILOS #div-two*/
#div-two{
    width: 400px;
}

#div-two a{
    flex-grow: 1;
    flex-shrink: 1;
}

/*ESTILOS #div-three*/
#div-three{
    width: 400px;
}

#div-three a:nth-of-type(1){
    flex-grow: 1;
    flex-shrink: 1;
}

#div-three a:nth-of-type(2){
    flex-grow: 2;
    flex-shrink: 2;
}

#div-three a:nth-of-type(3){
    flex-grow: 1;
    flex-shrink: 1;
}

#div-three a:nth-of-type(4){
    flex-grow: 2;
    flex-shrink: 1;
}

/*ESTILOS #div-four*/
#div-four{
    width: 400px;
}

#div-four a:nth-of-type(1),
#div-four a:nth-of-type(3),
#div-four a:nth-of-type(4){
    flex-grow: 1;
    flex-shrink: 1;
}

#div-four a:nth-child(2){
    flex-grow: 2;
    flex-shrink: 2;
}

/*ESTILOS #div-five*/
#div-five{
    width: 1400px;
}

#div-five a:nth-child(1),
#div-five a:nth-child(2),
#div-five a:nth-child(3){
    flex-grow: 1;
    flex-shrink: 1;
}

#div-five a:nth-child(4){
    flex-grow: 4;
    flex-shrink: 1;
}

/*ESTILOS #div-six*/
#div-six{
    display: inline-flex;
}

#div-six a{
    width: 10vw;
}

/**/

#div-seven,
#div-eigth{
    display: flex;
}

#div-seven a{
    width: 10vw;
}

/**/

#div-eigth{
    width: 200px;
}

#div-eigth a{
    width: 50%;
}

/**/

#div-nine{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

#div-nine a{
    width: 30%;
}

/*ESTILOS #div-ten*/
#div-ten {
    display: flex;
    width: 95%;
    height: 10vw;
}

#div-ten a {
    width: 5vw;
    height: 5vw;
}

/*ESTILOS #div-eleven*/
.stretch {
    align-items: stretch;
}

#div-eleven {
    display: flex;
    width: 95%;
    height: 15vw;
}

#div-eleven a {
    width: 5vw;
    height: 5vw;
}

#div-eleven a:nth-of-type(1) {
    height: 5vw;
    padding-top: 5%;
}

#div-eleven a:nth-of-type(2) {
    height: 7vw;
    padding-top: 4%;
}

#div-eleven a:nth-of-type(3) {
    height: 6vw;
    padding-top: 1%;
}

#div-eleven a:nth-of-type(4) {
    height: 8vw;
    padding-top: 3%;
}

/*ESTILOS #div-twelve*/
#div-twelve {
    display: flex;
    height: 25vh; 
}

#div-twelve a {
    width: 5vh;
}

#div-twelve a:nth-of-type(1) {
    height: 5vh;
}

#div-twelve a:nth-of-type(2) {
    height: 7vh;
}

#div-twelve a:nth-of-type(3) {
    height: 6vh;
}

#div-twelve a:nth-of-type(4) {
    height: 8vh;
}

/*ESTILOS #div-thirteen*/
#div-thirteen {
    display: flex;
    flex-wrap: wrap;
    height: 25vh; 
}

#div-thirteen a {
    width: 5vh;
    height: 5vh;
}