/*Celia Moruno Herrojo*/

/*Importar fuente*/
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Just+Another+Hand&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Slackey&display=swap');

/*Estilos generales*/
*{
    margin: 0;
    padding: 0;
    font-size: 1.2vw;
}

h1 {
    font-family: "Just Another Hand";
}

p,a,label,li{
    font-family: "Imprima";
}

/*Elementos Layout*/
header{
    width: 100%;
    height: 15vh;
    max-height: 150px;
    border-bottom: 0.1vw solid #006293;
}

main{
    width: 90%;
    margin: 2.5% auto;
}

section{
    width: 85%;
    margin: 0 auto;
}

form{
    margin: 2% auto;
    width: 85%;
}

footer{
    width: 100%;
    height: 20vh;
    color: white;
    clear: both;
    background-color: #006293;
}

/* Header | Elementos  */

header div{
    float: left;
    width: 12%;
    height: 80%;
    margin: 0.5% 3.5%;
}

header img{
    display: block;
    height: auto;
    max-width: 100%;
}

/* Header | nav */
nav{
    width: 80%;
    height: 100%;
    float: right;
    background-color: #006293;
    color: white;
}

nav > a, #gestion {
    color: #fff;
    text-decoration: none;
    float: left;
    margin: 5.8vh 12%;
}

/* Header | nav | Submenú oculto por defecto */
#submenu{
    height: auto;
    width: auto;
    display: none;
    position: absolute;
        top: 4.8vh;
        left: 74%;
}

#submenu a{
    color: #fff;
    text-decoration: none;
    padding-right:  1vw;
}

#submenu a:nth-child(2){
    border-left: 1px solid #fff;
    padding-left: 1vw;
}

#gestion:hover{
    display: none;
}

#gestion:hover + #submenu{
    display: block;
}

/* Main | Elementos*/


main > h1{
    font-size: 1.5em;
    text-align: center;
}

/* Main | Clase*/
.lineBottom{
    border-bottom: #000 solid 1px;
}

/* Main | Botones Principales*/
.botones{
    display: inline-block;
    border: #006293 1px solid;
    border-radius: 20px;
    width: 15%;
    padding: 1%;
    text-align: center;
    margin: 2.5% 6.5%; 
}

.botones:first-of-type{
    margin-left: 11%;
}

.botones img{
    width: 80%;
    border-bottom: 1px solid #00000091;
}

.botones a{
    text-decoration: none;
    color: black;
}

/* Main | Ajustes Botones ->  Gestion Stock*/
#stock .botones{
    margin-left: 19%;
}

/* FORM | Elementos */

form fieldset{
    border-radius: 10px;
}

form legend img {
    width: 4%;
    margin: 0 2%;
}

form legend h1{
    display: inline-block;
    font-size: 1.6em;
}

form label{
    display: block;
    margin: 2% 0;
    margin-left: 10%;
}

form input, form select{
    display: inline-block;
}

/* Alinear los primeros tres inputs del formulario */
form label:nth-of-type(-n+3) {
    position: relative;
}

/* Form | Estilos para el botón de enviar */
form input[type="submit"]{
    width: 41%;
    padding: 1%;
    border-radius: 10px;
    color: #fff;
    margin-left: 10%;
    margin-top: 0.8%;
    margin-bottom: 3%;
    background-color: #599ABA;
}

form input[type="submit"]:hover {
    background-color: #006293;
    cursor: pointer;
}

/*Form | Ajustes -> Añadir*/
#añadir label:nth-of-type(-n+3) input {
    position: absolute;
    left: 12%;
}

#añadir select:last-of-type {
    margin-left: 5%;
}

/*Form | Ajuste -> Buscar*/
#buscar fieldset label:nth-of-type(-n+2) select,
#buscar fieldset label:nth-of-type(3) input {
    position: absolute;
    left: 12%;
}

#buscar input[type="submit"]{
    width: 29%;
}

/*---LISTAR---*/
hr{
    width: 90%;
    margin: 2% 0 2% 5%;
}

/* Section | Elementos */
article{
    width: 100%;
    border: #000 solid 1px;
    border-radius: 15px;
    margin-top: 5%;
    position: relative;
}

/* Article | Elementos */

/*Estilo para los datos extraidos de la bbdd */
.bbdd{
    width: 33%;
    margin: 5% 3% 5% 5%;
    float: left;
    position: absolute;
    top: 10%;
}

.bbdd p{
    margin: 1%;
    font-size: 1.2em;
}

article > img{
    margin: 3% 0;
    width: 18%;
    margin-left: 42%;
}

article > input{
    width: 18%;
    position: absolute;
    top: 28%;
    right: 10%;
}

article .botones{
    width: 7%;
    margin: unset;
}

article .botones:nth-of-type(2){
    position:absolute;
    top: 30%;
    right: 8%;
}

article .botones:first-of-type{
    position:absolute;
    top: 30%;
    right: 22%;
}

article .botones figcaption{
    font-size: 1vw;
}

/* Aticle | Ajustes -> Gestión Stock */
#stock .bbdd{
    width: 32%;
    top: 1%;
    left: 25%;
    border-right: 1px solid #00000088;
}

#stock img{
    margin-left: 5%;
}

#stock article > p{
    position: absolute;
    top: 15%;
    right: 19.5%;
}

#stock article .botones{
    width: 7%;
    top: 45%;
}

#stock article .botones figcaption{
    font-size: 0.7em;
}

/* Footer | Elementos */

footer div{
    float: left;
    width: 31%;
    height: 15vh;
    margin-top: 1.2%;
}

footer h3{
    font-size: 1.4vw;
    margin: 1vh;
}

footer div:nth-child(1) p{
    margin: 1vh 3vw;
}

footer div:nth-child(2) ul{
    list-style-type: none;
}

footer li{
    float: left;
    width: 45%;
    text-align: center;
    margin: 0.5vh 0;
}

footer div:nth-child(3) a{
    display: block;
    margin: 3.4vh 5vw;
    text-decoration: none;
    color: white;
}

/*Footer | Class*/
.lineaFooter{
    margin-right: 3.2%;
    border-right: 0.1vw solid #417b9876;
}

/* Media Queries */
@media (width <= 1220px) {
    /* Header | Ajustes Elementos */
    header div{
        width: 18%;
        margin: 0.5% 1%;
    }

    nav > a, nav > p, #submenu > a{
        font-size: 1.5em;
    }

    nav > a {
        margin-right: 5vw;
    }

    #submenu{
        top: 5.5vh;
        left: 72%;
    }

    /* Main | Ajustes Elementos*/
    main > h1{
        font-size: 2em;
    }

    .botones{
        width: 20%;
        margin: 2.5% 3.5%;
    }

    .botones figcaption{
        font-size: 1.5vw;
    }

    /* Article | Ajustes Elementos */
    article .botones{
        width: 10%;
    }

    article .botones figcaption{
        font-size: 1.2em;
    }

    article .botones:nth-of-type(2){
        position:absolute;
        top: unset;
        bottom: 10%;
        right:23%;
    }
    
    article .botones:first-of-type{
        position:absolute;
        top: unset;
        bottom: 10%;
        right: 40%;
    }

    article > img{
        margin: 6% 0;
        width: 28%;
        margin-left: 5%;
    }

    /* Article | Ajustes Botones -> Gestion Stock [Buscar]*/
    #stock .botones{
        margin-left: 17.5%;
    }

    /*Article | Ajustes Botones -> Gestion Stock [Listar]*/
    #stock article .botones{
        top: 68%;
        bottom: unset;
        width: 10%;
    }

    #stock article .botones:first-of-type{
        right: 37%;
    }

    /*Article | Ajustes Elementos -> Gestion Stock [Listar]*/
    #stock article > img{
        margin: 10% 5%;
        width: 34%;
    }

    #stock .bbdd{
        width: 50%;
        top: 0;
        left: 35%;
        border-right: unset;
        border-bottom: #00000088 1px solid;
    }

    #stock p{
        font-size: 1.8em;
    }

    #stock article > p{
        top: 48%;
        right: 20.5%;
    }

    article > input{
        width: 32%;
        height: 7%;
        top: 57%;
        right: 20%;
    }

    /* Form | Ajustes Elementos */
    form legend h1{
        font-size: 2em;
    }

    form label, form input, form select {
        font-size: 1.3em;
        margin-left: 20%;
    }

    form label:first-of-type{
        margin-top: 3%;
    }

    form label:nth-of-type(-n+3) input {
        left: 5%;
    }

    form input[type="submit"] {
        width: 58.5%;
        margin-left: 20%;
        border-radius: 8px;
    }

    /* Form | Ajustes -> Añadir */
    #añadir input[type="text"]{
        margin-left: 10%;
    }

    /* Form | Ajustes -> Buscar */
    #buscar label{
        margin-left: 24%;
    }

    #buscar fieldset label:nth-of-type(-n+2) select,
    #buscar fieldset label:nth-of-type(3) input {
        position: absolute;
        left: 6.5%;
    }

    #buscar input[type="submit"] {
        margin-left: 24%;
        width: 50.5%;
    }

    /*Article | Ajustes Class*/
    .bbdd{
        width: 50%;
        top: 1%;
        left: 35%;
    }
    
    .bbdd p{
        font-size: 2em;
    }

    /* Footer | Ajustes Elementos */
    footer div, footer h3, footer p, footer a {
        font-size: 1.4em;
    }

    footer ul li{
        font-size: 1.8em;
    }    
}